<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Not Fake News</title>


	<!-- Reseting CSS -->
	<link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
	

	  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

            

	

	<!-- Custom CSS -->
	<link rel="stylesheet" href=".public//assets/css/style.css" type="text/css" /> 
	{{!-- Jquery --}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>
	{{{ body }}}

	<!-- jQuery Library Reference -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

	
	<!-- Custom JavaScript -->
	<script type="text/javascript" src=".public/assets/js/news.js"></script>


</body>

</html>