
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Not Fake News</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Home</a></li>
        <li><a href="badges.html">Saved Articles</a></li>
        <li><a href="collapsible.html">Scrape new articles!</a></li>
      </ul>
      
      <img src="../assets/images/newspaper.jpg" width="100%" height="auto"> 
      
     
  </nav>
 </div>
  <div class="container">
  <div id="articles">
      <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
  </div>
</div>
  </div>
