<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Not Fake News</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a href="sass.html">Home</a>
      </li>
      <li>
        <a href="badges.html">Saved Articles</a>
      </li>
      <li>
        <a href="collapsible.html">Scrape new articles!</a>
      </li>
    </ul>

    <img src="../assets/images/newspaper.jpg" width="100%" height="auto">


</nav>
</div>
<div class="container">
  <div id="articles">
    {{#each headline}}
    <div class="card {{this.id}}" style="width: 18rem;">

      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text"></p>
        <a href="#" class="card-link">{{this.link}}</a>
      </div>
    </div>
    {{/each}}
  </div>